<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
{% extends 'base.html' %}

{% block content %} 
    <style>
        .flex-container {
          display: flex;
          flex-flow: row;
        }

        .flex-item {
          padding: 5px;
          width: 100%;
          margin: 0px;
          flex-basis: 50%;
        }

    </style>

    <div class="flex-container">
        <div class="flex-item">
            {{map_div | safe}}
            {{map_script | safe}}
        </div>
        <div class="flex-item">
            <table  class="table table-hover">
                <tbody>
                    <thead>
                        <tr>
                            <th> Id </th>
                            <td>Yearly Cost to Insurers</td>
                            <td>Number of accidents</td>
                            <td>Latitude</td>
                            <td>Longitude</td>
                            <td>Intersection Type</td>
                            <td>Number of Interventions</td>
                        </tr>
                    </thead>
                    {% if intersection_list %}
                        {% for intersection in intersection_list %}
                            <tr style="transform: rotate(0);">
                                <th scope="row"><a href="/intersections/{{ intersection.id }}/" class="stretched-link">{{intersection.id}}</a></th>
                                <td>{{ intersection.average_cost_to_insurers }}</td>
                                <td>{{ intersection.number_of_accidents }}</td>
                                <td>{{ intersection.lon }}</td>
                                <td>{{ intersection.lat }}</td>
                                <td>{{ intersection.intersection_type}}
                            </tr>
                        {% endfor %}
                    {% else %}
                        <p>No intersection found.</p>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
