{% load unicorn %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load django_bootstrap5 %}

    {% bootstrap_css %}

    {% bootstrap_javascript %}
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-3.1.1.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-3.1.1.min.css"rel"”stylesheet" type="text/css">

    {% bootstrap_messages %}
    <title>Intersection Portal</title>
    {% unicorn_scripts %}
    

</head>
<body>
    {% csrf_token %}
    {% block content %}

    {% endblock content %}
    
</body>

<script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.1.1.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.1.1.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.1.1.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-3.1.1.min.js"></script>
</html>
